USE [master]
GO
/****** Object:  Database [DBMVC]    Script Date: 11/16/2025 6:43:55 PM ******/
CREATE DATABASE [DBMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBMVC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBMVC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBMVC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBMVC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBMVC]
GO
/****** Object:  Table [dbo].[mSTATUS]    Script Date: 11/16/2025 6:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mSTATUS](
	[idStatus] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_mSTATUS] PRIMARY KEY CLUSTERED 
(
	[idStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 11/16/2025 6:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](90) NULL,
	[Usuario] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Edad] [int] NULL,
	[idEstatus] [int] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[mSTATUS] ON 

INSERT [dbo].[mSTATUS] ([idStatus], [Status]) VALUES (1, N'Activo')
INSERT [dbo].[mSTATUS] ([idStatus], [Status]) VALUES (2, N'Inactivo')
INSERT [dbo].[mSTATUS] ([idStatus], [Status]) VALUES (3, N'Pendiente')
SET IDENTITY_INSERT [dbo].[mSTATUS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ID], [Nombre], [Usuario], [Password], [Email], [Edad], [idEstatus]) VALUES (1, N'gabry', N'3kk1', N'1234', N'carlos@example.com', 23, 3)
INSERT [dbo].[USERS] ([ID], [Nombre], [Usuario], [Password], [Email], [Edad], [idEstatus]) VALUES (2, NULL, NULL, NULL, N'maria@example.com', 30, 2)
INSERT [dbo].[USERS] ([ID], [Nombre], [Usuario], [Password], [Email], [Edad], [idEstatus]) VALUES (3, NULL, NULL, NULL, N'jose@example.com', 22, 3)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_mSTATUS] FOREIGN KEY([idEstatus])
REFERENCES [dbo].[mSTATUS] ([idStatus])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_mSTATUS]
GO
USE [master]
GO
